.home {
    width: 100%;
    height: auto;

    //article
    article {
        width: 1366px;
        height: auto;
        padding: 0 33px 30px;
        margin: 0 auto;

        //content
        .content {
            width: 100%;
            height: auto;
            padding: 15px;
            background: $home_BG;
            border: solid 1px $home_OuterBorder;
            box-shadow: 0 0 8px 1px $home_Shadow inset;

            //marquee
            .marqueeBox {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;

                .title {
                    color: $marquee_Title;
                    font-size: 16px;
                    font-weight: bold;
                    flex-shrink: 0;
                    margin-right: 15px;
                }

                //主內容
                .marquee {
                    width: 100%;
                    height: 35px;
                    background: $marquee_BG;
                    border-radius: 5px;
                    border: solid 1px $marquee_Border;
                    display: flex;
                    align-items: center;
                    overflow: hidden;

                    p {
                        display: inline-block;
                        color: $marquee_Word;
                        font-size: 14px;
                        font-weight: bold;
                        padding-left: 100%;
                        white-space: nowrap;
                        animation: marquee 10s linear 0s infinite;
                    }

                    @keyframes marquee {
                        0% {
                            transform: translateX(0%);
                        }

                        100% {
                            transform: translateX(-100%);
                        }
                    }
                }
            }

            //mainWrap
            .mainWrap {
                width: 100%;
                height: auto;
                border: solid 1px $mainBorder_1;
                margin-top: 15px;

                //top
                .top {
                    width: 100%;
                    height: 45px;
                    background: $header_TopList_BG;
                    border-bottom: solid 1px $mainBorder_1;
                    display: flex;

                    div {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        //左字
                        &.left {
                            width: 310px;
                            height: 100%;
                            border-right: solid 1px $mainBorder_1;
                            flex-shrink: 0;

                            p {
                                color: $header_TopList_Word;
                                font-size: 18px;
                                font-weight: bold;
                                letter-spacing: 5px;
                            }
                        }

                        //按鈕區
                        &.right {

                            button {
                                width: 76px;
                                height: 27px;
                                @include borderBtn;
                                margin: 0 5px;
                            }
                        }
                    }
                }

                //主內容
                .mainBox {
                    width: 100%;
                    height: auto;
                    background: $home_innerBG;
                    box-shadow: 0 2px 8px 0 $home_Shadow;
                    display: flex;

                    //左內容
                    .left {
                        width: 310px;
                        height: auto;
                        border-right: solid 1px $mainBorder_1;
                        flex-shrink: 0;

                        //帳號
                        .account {
                            width: 100%;
                            height: 45px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-bottom: solid 1px $mainBorder_1;

                            p {
                                width: 110px;
                                height: 27px;
                                background: $home_Account_WordBG;
                                border-radius: 5px;
                                color: $home_Account_Word;
                                font-size: 16px;
                                font-weight: bold;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                            
                            i {
                                display: block;
                                width: 2px;
                                height: 27px;
                                background: $mainBorder_1;
                                margin: 0 10px;
                            }
                        }

                        //獎池圖
                        .imgBox {
                            width: 100%;
                            height: auto;
                        }

                        //投注列
                        .betArea {
                            width: 100%;
                            height: auto;

                            .betWindow {
                                width: 100%;
                                height: auto;
                                border-top: solid 1px $mainBorder_1;

                                .title {
                                    width: 100%;
                                    height: 28px;
                                    background: $home_TitleBG;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    p {
                                        color: $home_Title;
                                        font-size: 14px;
                                        font-weight: bold;
                                    }
                                }

                                ul {
                                    width: 100%;
                                    height: auto;

                                    li {
                                        width: 100%;
                                        height: 26px;
                                        background: $home_innerArea_BG;
                                        border-bottom: solid 1px $home_innerArea_ListBorder;
                                        display: flex;

                                        &:nth-of-type(2n) {
                                            background: $home_innerArea_SecondBG;
                                        }

                                        p {
                                            width: 100%;
                                            height: 100%;
                                            color: $home_Word;
                                            font-size: 14px;
                                            font-weight: bold;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;

                                            &.smallTitle {
                                                width: 116px;
                                                background: $home_innerArea_SmallTitleBG;
                                                border-right: solid 1px $home_innerArea_ListBorder;
                                                flex-shrink: 0;

                                                &.short {
                                                    width: 80px;
                                                }
                                            }

                                            input {
                                                width: 88px;
                                                height: 20px;
                                                @include betInput;
                                            }
                                        }
                                    }
                                }

                                .btnBox {
                                    width: 100%;
                                    height: 67px;
                                    background: $home_innerArea_BG;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    .nextBtn {
                                        width: 132px;
                                        height: 47px;
                                        @include yellowBtn;
                                    }

                                    button:not(.nextBtn) {
                                        width: auto;
                                        height: 35px;
                                        @include whiteBtn;
                                        margin: 0 3px;
                                    }
                                }
                            }
                        }
                    }

                    //右內容
                    .right {
                        width: 100%;
                        height: auto;

                        .flexBox {
                            width: 100%;
                            height: auto;
                            display: flex;
                            border-bottom: solid 1px $mainBorder_1;

                            //快速切換區
                            .fastArea {
                                width: 220px;
                                height: auto;
                                background: $home_innerArea_BG;
                                border-right: solid 1px $mainBorder_1;
                                flex-shrink: 0; 

                                //切換
                                .change {
                                    width: 100%;
                                    height: 60px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    button {
                                        width: 140px;
                                        height: 40px;
                                        @include yellowBtn;
                                    }
                                }

                                //快速輸入/選號
                                .fastBox {
                                    width: 100%;
                                    height: auto;
                                    border-top: solid 1px $mainBorder_1;

                                    .title {
                                        width: 100%;
                                        height: 28px;
                                        background: $home_TitleBG;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;

                                        p {
                                            color: $home_Title;
                                            font-size: 14px;
                                            font-weight: bold;
                                        }
                                    }

                                    .box {
                                        width: 100%;
                                        height: 60px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;

                                        .numTitle {
                                            color: $home_Word_2;
                                            font-size: 14px;
                                            font-weight: bold;
                                            letter-spacing: 5px;
                                        }
        
                                        input {
                                            width: 88px;
                                            height: 30px;
                                            @include fastInput;
                                            margin-left: 8px;
                                        }
                                    }

                                    .box2 {
                                        width: 100%;
                                        height: auto;
                                        padding: 20px 10px;

                                        .btnBox {
                                            width: 100%;
                                            height: auto;
                                            display: flex;
                                            margin-bottom: 20px;

                                            &.more {
                                                margin: 0;

                                                &:nth-of-type(1) {

                                                    button {
                                                        border-bottom: none;

                                                        &:nth-of-type(1) {
                                                            border-radius: 5px 0 0 0;
                                                        }
                                                        &:last-child {
                                                            border-radius: 0 5px 0 0;
                                                        }
                                                    }
                                                }
                                                &:last-child {

                                                    button {

                                                        &:nth-of-type(1) {
                                                            border-radius: 0 0 0 5px;
                                                        }
                                                        &:last-child {
                                                            border-radius: 0 0 5px 0;
                                                        }
                                                    }
                                                }

                                                button {
                                                    width: 20%;
                                                }
                                            }

                                            button {
                                                width: 25%;
                                                height: 26px;
                                                @include whiteBtn;
                                                border-radius: 0;
                                                border-right-width: 0;
                                                color: $whiteBtn_Color2;

                                                &:nth-of-type(1) {
                                                    border-radius: 5px 0 0 5px;
                                                }
                                                &:last-child {
                                                    border-radius: 0 5px 5px 0;
                                                    border-right-width: 1px;
                                                }
                                            }
                                        }

                                        .bigBox {

                                            .smallTitle {
                                                width: 100%;
                                                color: $home_Word_2;
                                                font-size: 14px;
                                                font-weight: bold;
                                                text-align: center;
                                                letter-spacing: 3px;
                                                margin-bottom: 8px;
                                            }
                                        }
                                    }
                                }
                            }

                            //選擇號碼區
                            .chooseArea {
                                width: 100%;
                                height: auto;
                                display: flex;

                                //連碰
                                .contiWrap {
                                    width: auto;
                                    height: auto;
                                    border-right: solid 1px $mainBorder_1;

                                    .title {
                                        width: auto;
                                        height: 28px;
                                        background: $home_TitleBG;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;

                                        p {
                                            color: $home_Title;
                                            font-size: 14px;
                                            font-weight: bold;
                                        }
                                    }

                                    .btnBox {
                                        width: 260px;
                                        height: auto;
                                        display: flex;

                                        li {
                                            width: 25%;
                                            height: auto;
                                            border-right: solid 1px $home_innerArea_ListBorder;

                                            &:last-child {
                                                border: none;
                                            }

                                            button {
                                                width: 100%;
                                                height: 44px;
                                                background: $home_innerArea_ChooseBG;
                                                border-bottom: solid 1px $home_innerArea_ListBorder;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;

                                                &:hover,&:active,&.active {
                                                    background: $home_innerArea_ChooseBG_2;
                                                }

                                                &:last-child {
                                                    border: none;
                                                }

                                                &.clear {
                                                    background: $home_innerArea_ClearBG;

                                                    i {
                                                        width: 22px;
                                                        height: 22px;
                                                        @include clearBtn;
                                                    }
                                                }

                                                p {
                                                    width: 35px;
                                                    height: 35px;
                                                    @include ballBtn;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}