.mainWrap .imgBox li.empty {
    background: url('../images/num_gray.png') no-repeat;
}
.mainWrap .imgBox li {
    background: url('../images/num_gold.png') no-repeat;
}



//img

//logo
header .logo {
    height: 42px;
    object-fit: contain;
}

//獎池
.mainBox .prize {
    width: 100%;
    object-fit: contain;
}