html {
    width: 100%;
    height: 100%;

    body {
        width: 100%;
        height: 100%;
        background: $BG;

        @import "./header";
        @import "./home";
        @import "./info";
    }
}